body{
    background:url(../img/homebg.jpg);
    background-size: cover;
}
 
 
 .chat-container{
        background: white;
        width:100%;
        border-radius: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        min-height: 400px;
  }
  .user_dashboard{
    padding: 15px 15px;
}

.user_dashboard .head, .user_list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(150, 148, 148);
}

.c_wrapper img {
    object-fit: cover;
    border-radius: 50%;
    max-width: 35px;
    max-height: 35px;
}

.chattitle{
    background-color: blueviolet;
    text-align: center;
    color: white;
    font-weight: bold ;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 4px 4px 0 0;
}
.chattitle div{
    color: white;
    font-weight: bold ;
}

.user_dashboard .head .content, .user_list .content{
    display: flex;
}

.user_dashboard .head .details, .user_list .details{
    margin-left: 10px;
}
.user_dashboard .head .details span, .user_list span{
    font-size: 12px;
    font-weight: 500;
}

.user_dashboard .search_user{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    position: relative;
    border-radius: 8px;
    border: solid 2px rgb(173, 173, 173);

    height: 30px;
   
}

.user_dashboard .search_user .text{
    font-size: 12px;
    color: gray;
    padding-left: 5px;
}
.user_dashboard .search_user input{
    position: absolute;
    height: 30px;
    width: calc(100% - 30px);
    border: 2px solid rgb(139, 22, 134);
    padding: 0 12px;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.user_dashboard .search_user input.active{
    pointer-events: auto;
    opacity: 1 ;
   
}
.user_dashboard button{
    width: 30px;
    height: 30px;
    border: none;
    background: rgb(156, 154, 154);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition:  all 0.2s ease;
    color: white;

}
.user_dashboard button.active i::before{
    content:'X' ;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 15px;
}
.user_dashboard button.active{
    color: white;
    background: blueviolet;
    
}

/* userlist */
.user_list{
    max-height: 350px;
    overflow-y:auto ;
}
.user_list::-webkit-scrollbar{
    scrollbar-width: thin;

}


.user_list a{
padding-right: 15px;
page-break-after: 10px;
margin-bottom: 15px;
border-bottom-color:rgb(204, 202, 202) ;
color: black;
}

.user_list a .username{
    font-size: 15px;
    font-weight: bold;
    color: rgb(75, 74, 74);
}
.user_list a .last_msg{
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    color: rgb(115, 129, 192);
}

.roletext{
    color: white;
    padding: 3px;
    min-width: 10px;
  
    border-radius: 3px;
    margin-left: 4px;
}
.roletext i{
    font-size: 15px;
}
.users_det{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user_list a:last-child{
    border: none;
    margin-bottom: 0px;
}
.user_list img {
    width: 40px;
    height: 40px;
}
.user_list .status_dot{
    font-size: 12px;
    color: rgb(50, 124, 27);
}
.user_list .status_dot_off{
    color: rgb(153, 152, 150);
}