@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


*,*::before,*::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-weight: 500;
}

:root{
    --textcolor: rgb(77, 78, 78);
    --bgwhite:rgb(125, 180, 231);
    --btnpurple:rgb(112, 40, 92);
    --navbar:#4a0e6a;

    --border_radius: 2rem;
    --card_border_radius: 1rem;
    --button_padding:0.3rem 2rem;
    --card_padding:1rem;
    --sticky_top_left:5.4rem;
    --sticky_top_right:-18rem;
}

body{
    font-family: 'Lato', sans-serif;
    color: var(--textcolor);
    background:url(../img/homebg.jpg);
    background-size: cover;
    overflow-x: hidden;    
}

a{
    text-decoration: none ;
}
a:hover{
    text-decoration: none;
}


.container{
    width: 80%;
    margin: 0 auto;
    
}
.nav-item{
    color: #fff;
}
.profpic{
    width: 2.2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;

}

img{
    display: block;
    width: 100%;

}
a{
    color: var(--textcolor);
}

.btn{
    display: inline-block;
    padding:var(--button_padding) ;
    font-family:sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 2rem ;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 300ms ease;
    
}
.btn-main{
    background-color: #4a0e6a ;
    padding: 8px 0 !important;
    border-radius: 5px !important;
    color: rgb(255, 255, 255) ;
}
.btn-main:hover{
    background-color:rgb(70, 21, 70) ;
    color: white;
}
.btn:hover{
    opacity: 0.8;
}

.text-bold{
    font-weight: 500;
}
.text-m{
    color: gray;
}

nav{
    width: 100%;
    background-color:#4a0e6a;
    padding: 1rem 0;
    position: fixed;
   
    top: 0;
    z-index:10 ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


nav .profile{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo{
    cursor: pointer;
}

.logo img{
    width: 150px;
}
.profile i{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
/*main*/

main{
    position: relative;
    top: 5.4rem;

}
main .container{
    display: grid;
    grid-template-columns: 17vw auto 17vw;
    column-gap: 2rem;
    position: relative;
    
}

main .container .left{
    height: max-content;
    position: sticky;
    top: var(--sticky_top_left) ;
    
}

main .container .left .profsummary{
    padding: var(--card_padding);
    background-color: white;
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    align-items: center;
    width: 100%;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.profsummary .profpic{
    width: 5rem ;
    margin-bottom: 5px;
}
.left .sidebar{
    margin-top: 1rem;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 5px;
}

.left .sidebar .menuitems{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 3rem;
    cursor: pointer;
    margin: 5px;
    transition: all 300ms ease;
    position: relative;
    border-radius: var(--card_border_radius);

}
.left .sidebar .menuitems:hover{
    background: rgb(167, 165, 165);
    color: white !important;

}

.left .sidebar i{
    font-size: 1.4rem;
    margin-left: 2rem;
    position: relative;

}


.left .sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.left .sidebar .active{
    background:var(--bgwhite);
}

.left .sidebar .active i,.left .sidebar .active i{
    color: var(--textcolor);
}

.left .sidebar .active::before{
    content: '';
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--btnpurple);
}

.left .sidebar .menuitems:first-child.active{
    border-top-left-radius: var(--card_border_radius);
    overflow: hidden;
}

.left .sidebar .menuitems:first-child.active{
    border-bottom-left-radius: var(--card_border_radius);
    overflow: hidden;
}

.left .btn{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}
.left .myprofile{
    display: inline-block;
   padding: 5px 15px;
   margin: 8px;
   color: white;
   background-color: #4a0e6a; 
   border-radius: 5px;
   transition: 0.3s;
}

.role{
    background-color: rgb(216, 88, 88);
    color: white;
    padding: 0 12px;
}

.left .notif-popup{
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: white;
    border-radius: var(--card_border_radius);
    padding: var(--card_padding);
    box-shadow: 0 0 2rem var(--btnpurple);
    z-index: 8;
    display: none;
}

.left .notif-popup::before{
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: white;
    position: absolute;
    left: -0.5rem;
    transform: rotate(45deg);
   
}

.left .notif-popup > div{
    display: flex;
    align-items: start;
    margin-bottom: 1rem;

}

.left .notif-popup .notif-body{
    margin-left: 10px;
}

.left .notif-popup small{
    display: block;
}

/*-------------posts------------*/

.midcenter .pg{
    background-color: white;
    padding: var(--card_padding);
    text-align: center;

}

.midcenter .pg strong{
    text-transform: capitalize;
    font-stretch: condensed;
    font-size: 18px;

}



.midcenter .posts .eachpost{
    background: white;
    border-radius: var(--card_border_radius);
    padding: var(--card_padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.midcenter .eachpost .head{
    display: flex;
    justify-content: space-between;
}
.midcenter .eachpost .user{
    display: flex;
    gap: 1rem;
}

.midcenter .eachpost .postphoto{
    border-radius: var(--card_border_radius);
    max-height: 300px;
    overflow-y:auto;
    margin: 0.7rem 0;
}
.postphoto img{
    width: 100%;
}

.midcenter .eachpost .action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.midcenter .eachpost h3{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}
.hashtag{
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
}

.posttext{
    padding: 5px;
    padding-bottom: 1px;
}




/*------------modal-----------*/
.modal-body input, .modal-body textarea,#subject{
    margin: 8px;
    color: rgb(44, 44, 44);
}

.lower{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

#uploadpic{
    display: none;
}
.btn-post{
    color: white;
    padding: 1px 30px;
    border-radius: 8px;
    cursor: pointer;
}
.uppic{
    background: rgb(240, 239, 239);
    border: 2px solid #4a0e6a;
    padding: 4px 10px !important;
}

.btn-post i{
    font-size: 20px;
    color: #4a0e6a;
}
 .addbtn{
    background-color: rgb(155, 48, 74);
}


/*special*/

.customer{
    background-color: #d89f25 !important;
}

.entrepreneur{
    background-color: #686fd1 !important;
}
.investor{
    background-color: #ad464b !important;
}
.distributor{
    background-color: #4b9734 !important;
}

.postrole{
    background-color: #9b9b9b;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    font-size: 11px;
}
.posttitle{
    font-weight: bold;
}

.posttitle:hover{
    color: rgb(49, 49, 49);
}
.viewbtn{
    cursor: pointer !important;
}
.viewbtn:hover{
    background-color: #654292;
}

/* chat */

main .container .right{
    height: max-content;
    position: sticky;
    top: var(--sticky_top_left);
    
}

.comcount{
    font-size: 12px;
    font-weight: bold;
  
}
.heart{
    color: #e96269;
}

#likebtn{
    background: transparent;
    color: rgb(70, 69, 69);
}

.hide{
    display: none;
}