body::before {
    background:url(../img/homebg.jpg);
    background-size: cover;
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
}

nav{
    background-color: #4a0e6a;
    margin-top:0 ;
}
nav a{
    text-decoration: none;
    color: rgb(252, 252, 252);
}
nav a:hover{
    color: rgb(248, 248, 248);
    text-decoration: none;
}
.empnavbar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loggeduserpic{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    overflow: hidden;

}
.loggeduserpic img{
    display: block;
    width: 100%;
}
.empowerlinks{
    display: flex;
    padding-left: 750px;
    gap: 2rem;
}
.logo{
    padding: 15px;
    cursor: pointer;
}

.logo img{
    width: 150px;
}
.empowerlinks i{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.linklabel{
    cursor: pointer;
}